body {
	padding-top: 50px;
}

.signin-container {
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
}

.r-tooltip {
	cursor: pointer;
	text-decoration: underline;
}

#map-canvas {
	height: 500px;
}